/* font */;
font:/*BEGIN:general_font*/normal 12px/1.35 Arial,Helvetica,sans-serif/*END:general_font*/;
font:/*BEGIN:h1_font*/normal 30px/1.15 Arial,Helvetica,sans-serif/*END:h1_font*/;
font:/*BEGIN:h2_font*/normal 24px/1.25 Arial,Helvetica,sans-serif/*END:h2_font*/;
font:/*BEGIN:h3_font*/normal 20px/1.25 Arial,Helvetica,sans-serif/*END:h3_font*/;
font:/*BEGIN:h4_font*/normal 18px/1.35 Arial,Helvetica,sans-serif/*END:h4_font*/;
font:/*BEGIN:h5_font*/normal 16px/1.35 Arial,Helvetica,sans-serif/*END:h5_font*/;
font:/*BEGIN:h6_font*/normal 14px/1.35 Arial,Helvetica,sans-serif/*END:h6_font*/;

/* header */	
color:/*BEGIN:head_text_color*/#fff/*END:head_text_color*/; 
color:/*BEGIN:head_text2_color*/#aaa/*END:head_text2_color*/; 
color:/*BEGIN:head_text3_color*/#46b08d/*END:head_text3_color*/; ---> hover;
color:/*BEGIN:head_text4_color*/#1b1b20/*END:head_text4_color*/; ---> cart;
background-color:/*BEGIN:head_bg_color*/#1b1b20/*END:head_bg_color*/;
background-color:/*BEGIN:head_bg2_color*/#fff/*END:head_bg2_color*/;
background-color:/*BEGIN:head_bg3_color*/#ececec/*END:head_bg3_color*/;---> hover cart;
border: 1px solid /*BEGIN:head_line_color*/#dddddd/*END:head_line_color*/;
background-image:/*BEGIN:head_bg_image*/url(../images/stripes/blank.gif)/*END:head_bg_image*/;
background-position:/*BEGIN:head_bg_position*/0 0/*END:head_bg_position*/;
background-repeat:/*BEGIN:head_bg_repeat*/repeat/*END:head_bg_repeat*/;
 
/* menu */
/* top menu*/
background-color:/*BEGIN:tm_bg_color*/#fafafa/*END:tm_bg_color*/;
background-color:/*BEGIN:tm_hover_bg_color*/#fff/*END:tm_hover_bg_color*/;
border:1px solid /*BEGIN:tm_line_color*/#dedede/*END:tm_line_color*/;
color:/*BEGIN:tm_text_color*/#505050/*END:tm_text_color*/;
color:/*BEGIN:tm_hover_text_color*/#46b08d/*END:tm_hover_text_color*/;
font:/*BEGIN:tm_font*/normal 14px/1.35 Arial,Helvetica,sans-serif/*END:tm_font*/;
    
/* dropdown menu */
background-color:/*BEGIN:dm_bg_color*/#fff/*END:dm_bg_color*/;
color:/*BEGIN:dm_text_color*/#505050/*END:dm_text_color*/;
color:/*BEGIN:dm_text2_color*/#1b1b20/*END:dm_text2_color*/;-->title;
color:/*BEGIN:dm_hover_text_color*/#46b08d/*END:dm_hover_text_color*/;
font:/*BEGIN:dm_font*/normal 14px/1.35 Arial,Helvetica,sans-serif/*END:dm_font*/;
	
/* body */
background-color:/*BEGIN:bd_bg_color*/#ececec/*END:bd_bg_color*/;
background-color:/*BEGIN:bd_bg2_color*/#f4f4f4/*END:bd_bg2_color*/;--> title tab;
background-color:/*BEGIN:bd_bg3_color*/#46b08d/*END:bd_bg3_color*/;---> title tab active;
background-color:/*BEGIN:bd_bg4_color*/#fff/*END:bd_bg4_color*/;
background-color:/*BEGIN:bd_bg5_color*/#ffb321/*END:bd_bg5_color*/; --> title checkout;label new;
background-color:/*BEGIN:bd_bg6_color*/#d6474e/*END:bd_bg6_color*/;-->label special;
background-color:/*BEGIN:bd_bg7_color*/#4aa2e2/*END:bd_bg7_color*/;-->label best;
background-image: /*BEGIN:bd_bg_image*/url(../images/stripes/blank.gif)/*END:bd_bg_image*/;
background-position:/*BEGIN:bd_bg_position*/0 0/*END:bd_bg_position*/;
background-repeat:/*BEGIN:bd_bg_repeat*/repeat/*END:bd_bg_repeat*/;
    
color:/*BEGIN:bd_text_color*/#505050/*END:bd_text_color*/; <body text>;
color:/*BEGIN:bd_text2_color*/#1b1b20/*END:bd_text2_color*/; title, product name; 
color:/*BEGIN:bd_text3_color*/ #46b08d/*END:bd_text3_color*/; price;
color:/*BEGIN:bd_text4_color*/ #fff /*END:bd_text4_color*/; title block;
	
border: 1px solid /*BEGIN:bd_line_color*/#cecece/*END:bd_line_color*/;
border: 1px solid /*BEGIN:bd_line2_color*/#ed9c00/*END:bd_line2_color*/;--> border title block checkout;
    
border-radius:/*BEGIN:bd_rounded_corner*/3px/*END:bd_rounded_corner*/;
-moz-border-radius:/*BEGIN:bd_rounded_corner*/3px/*END:bd_rounded_corner*/;
-webkit-border-radius:/*BEGIN:bd_rounded_corner*/3px/*END:bd_rounded_corner*/;

border-radius:/*BEGIN:bd_rounded2_corner*/30px/*END:bd_rounded2_corner*/;
-moz-border-radius:/*BEGIN:bd_rounded2_corner*/30px/*END:bd_rounded2_corner*/;
-webkit-border-radius:/*BEGIN:bd_rounded2_corner*/30px/*END:bd_rounded2_corner*/;

box-shadow: /*BEGIN:bd_box_shadow*/0 0 10px #888888/*END:bd_box_shadow*/ ;
-moz-box-shadow: /*BEGIN:bd_box_shadow*/0 0 10px #888888/*END:bd_box_shadow*/ ;
-webkit-box-shadow: /*BEGIN:bd_box_shadow*/0 0 10px #888888/*END:bd_box_shadow*/ ;

box-shadow: /*BEGIN:bd_box2_shadow*/0 1px 2px 0 #CECECE/*END:bd_box2_shadow*/ ;
-moz-box-shadow: /*BEGIN:bd_box2_shadow*/0 1px 2px 0 #CECECE/*END:bd_box2_shadow*/ ;
-webkit-box-shadow: /*BEGIN:bd_box2_shadow*/0 1px 2px 0 #CECECE/*END:bd_box2_shadow*/ ;
            
/* footer */
background-color:/*BEGIN:foot_bg_color*/#1b1b20/*END:foot_bg_color*/;
background-color:/*BEGIN:foot_bg2_color*/#fff/*END:foot_bg2_color*/;
background-image: /*BEGIN:foot_bg_image*/url(../images/stripes/blank.gif)/*END:foot_bg_image*/;
background-position:/*BEGIN:foot_bg_position*/0 0/*END:foot_bg_position*/;
background-repeat:/*BEGIN:foot_bg_repeat*/repeat/*END:foot_bg_repeat*/;
color:/*BEGIN:foot_text_color*/#aaa/*END:foot_text_color*/;
color:/*BEGIN:foot_text2_color*/#505050/*END:foot_text2_color*/; --> hover footer;
color:/*BEGIN:foot_text3_color*/#46b08d/*END:foot_text3_color*/; --> hover a footer;
border: 1px solid /*BEGIN:foot_line_color*/#e4e4e4/*END:foot_line_color*/;-->hover footer;

/* button */	
background:/*BEGIN:btn1_bg_color*/#46b08d/*END:btn1_bg_color*/;
color:/*BEGIN:btn1_text_color*/#fff/*END:btn1_text_color*/;
border: 2px solid /*BEGIN:btn1_line_color*/ #46b08d/*END:btn1_line_color*/;
font:/*BEGIN:btn1_font*/normal 16px/1.35 Arial,Helvetica,sans-serif/*END:btn1_font*/;	
	
/* add to cart */
background:/*BEGIN:btn2_bg_color*/#fff/*END:btn2_bg_color*/;
color:/*BEGIN:btn2_text_color*/#202020/*END:btn2_text_color*/;
border: 2px solid /*BEGIN:btn2_line_color*/ #46b08d/*END:btn2_line_color*/;
font:/*BEGIN:btn2_font*/normal 16px/1.35 Arial,Helvetica,sans-serif/*END:btn2_font*/;

background:/*BEGIN:btn3_bg_color*/#fff/*END:btn3_bg_color*/;
color:/*BEGIN:btn3_text_color*/#202020/*END:btn3_text_color*/;
border: 1px solid /*BEGIN:btn3_line_color*/ #bfbfbf/*END:btn3_line_color*/;
font:/*BEGIN:btn3_font*/normal 14px/1.35 Arial,Helvetica,sans-serif/*END:btn3_font*/;

background:/*BEGIN:btn4_bg_color*/#358b6f/*END:btn4_bg_color*/;
color:/*BEGIN:btn4_text_color*/#fff/*END:btn4_text_color*/;
border: 2px solid /*BEGIN:btn4_line_color*/ #358b6f/*END:btn4_line_color*/;
font:/*BEGIN:btn4_font*/normal 16px/1.35 Arial,Helvetica,sans-serif/*END:btn4_font*/;

/* wrapper */
background-color:/*BEGIN:page_bg_color*/#fff/*END:page_bg_color*/;
background-image: /*BEGIN:page_bg_image*/url(../images/stripes/blank.gif)/*END:page_bg_image*/;
background-position: /*BEGIN:page_bg_position*/0 0/*END:page_bg_position*/;
background-repeat: /*BEGIN:page_bg_repeat*/repeat/*END:page_bg_repeat*/;

/*+++++++ Size Image +++++++++*/
- Category Grid: 280x280 -> done
- Category List: 225x225; --> done
- Dropdowncart: 70x70; ---> done;
- Detail Page: 480x480 -> done;
- Upsell: 280x280; ---> done
- Related Product: 70x70; ---> done
- Crossell: 280x280; ---> done
- Block Wishlist: 70x70; ---> done
- Moreview: 70x70; ---> done
- Cart Table: 70x70; ---> done
- Compare Page: 200x200; ---> done
- Dropdowncart: 70x70; ---> done
- Category Blog: 200x80;

/*+++++++ Size li +++++++++*/
Category Grid, Upsell, Crossell:
+ Width: 280px;
+ Margin-right:20px;

==> done

/*++++++++ Menu ++++++++*/
- Homepage: hover vào product trong menu Home & Garden: delete Quickshop. ==> done

