<?xml version="1.0"?>
<config>
    <modules>
        <Gala_Bigshopsettings>
            <version>0.1.0</version>
        </Gala_Bigshopsettings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bigshop>
                                            <title>Bigshop Settings Module</title>
                                        </bigshop>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <bigshopsettings>
                    <file>bigshopsettings.xml</file>
                </bigshopsettings>
            </updates>
        </layout>
        <menu>
            <emthemes translate="title">
                <title>Galathemes</title>
                <sort_order>72</sort_order>
                <children>
                    <bigshop_setting module="bigshopsettings" translate="title">
                        <title>Bigshop Settings</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/system_config/edit/section/bigshop/</action>
                    </bigshop_setting>
                    <help module="bigshopsettings" translate="title">
                        <title>Help &amp; Support</title>
                        <sort_order>200</sort_order>
                        <children>
                            <bigshop_userguide module="bigshopsettings" translate="title">
                                <title>Bigshop User Guide</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/bigshopsettings_link/userguide/</action>
                            </bigshop_userguide>
                            <forum module="bigshopsettings" translate="title">
                                <title>Request installation</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/bigshopsettings_link/requestinstallation/</action>
                            </forum>
                            <ticket module="bigshopsettings" translate="title">
                                <title>Technical support</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/bigshopsettings_link/technicalsupport/</action>
                            </ticket>                            
                            <contact_us module="bigshopsettings" translate="title">
                                <title>Contact Us</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/bigshopsettings_link/contactus/</action>
                            </contact_us>
							 <!--bigshop_sample_data module="bigshopsettings" translate="title">
                                <title>Bigshop Sample Data</title>
                                <sort_order>50</sort_order>
                                <action>adminhtml/bigshopsettings_theme/export/</action>
                            </bigshop_sample_data-->
                        </children>
                    </help>
                </children>
            </emthemes>
        </menu>
    </adminhtml>

    <frontend>
        <routers>
            <bigshopsettings>
                <use>standard</use>
                <args>
                    <module>Gala_Bigshopsettings</module>
                    <frontName>bigshopsettings</frontName>
                </args>
            </bigshopsettings>
        </routers>
        <layout>
            <updates>
                <bigshopsettings>
                    <file>bigshopsettings.xml</file>
                </bigshopsettings>
            </updates>
        </layout>
		<events>
			<controller_action_layout_generate_xml_before>
                <observers>
                    <themeframework_change_layout>
                        <type>singleton</type>
                        <class>Gala_Bigshopsettings_Model_Observer</class>
                        <method>changeLayoutEvent</method>
                    </themeframework_change_layout>
                </observers>
            </controller_action_layout_generate_xml_before>
    		<controller_action_layout_generate_blocks_before>
    			<observers>
    				<bigshop_config_after_save>
    					<class>Gala_Bigshopsettings_Model_Observer</class>
    					<method>beforeGenerateBlocks</method> 
    				</bigshop_config_after_save>
    			</observers>
    		</controller_action_layout_generate_blocks_before>		
			<catalog_product_collection_load_before>
    			<observers>
    				<bigshopsettings>
    					<class>Gala_Bigshopsettings_Model_Observer</class>
    					<method>beforeCatalogProductCollectionLoad</method> 
    				</bigshopsettings>
    			</observers>
    		</catalog_product_collection_load_before>
    	</events>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<bigshopsettings before="Mage_Adminhtml">Gala_Bigshopsettings_Adminhtml</bigshopsettings>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Gala_Bigshopsettings>
							<title>bigshopsettings Module</title>
							<sort_order>10</sort_order>
						</Gala_Bigshopsettings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bigshopsettings>
					<file>bigshopsettings.xml</file>
				</bigshopsettings>
			</updates>
		</layout>
        <events>
    		<controller_action_postdispatch_adminhtml_system_config_save>
    			<observers>
    				<config_after_save>
    					<class>Gala_Bigshopsettings_Model_Observer</class>
    					<method>afterConfigSave</method> 
    				</config_after_save>
    			</observers>
    		</controller_action_postdispatch_adminhtml_system_config_save>		
    	</events> 
    </adminhtml>
    
    <global>
        <blocks>
            <tag>
                <rewrite>
                    <popular>Gala_Bigshopsettings_Block_Popular</popular>
                </rewrite>
            </tag>
        </blocks>
        <models>
            <bigshopsettings>
                <class>Gala_Bigshopsettings_Model</class>
                <resourceModel>bigshopsettings_mysql4</resourceModel>
            </bigshopsettings>
            <bigshopsettings_mysql4>
                <class>Gala_Bigshopsettings_Model_Mysql4</class>
                <entities>
                    <bigshopsettings>
                        <table>bigshopsettings</table>
                    </bigshopsettings>
                    <megamenupro>
                        <table>megamenupro</table>
                    </megamenupro>
                    <media>
                        <table>em_slideshow2_media</table>
                    </media>
					<slider>
                        <table>em_slideshow2_slider</table>
                    </slider>
                </entities>
            </bigshopsettings_mysql4>
        </models>
        <resources>
            <bigshopsettings_setup>
                <setup>
                    <module>Gala_Bigshopsettings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bigshopsettings_setup>
            <bigshopsettings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bigshopsettings_write>
            <bigshopsettings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bigshopsettings_read>
        </resources>
        <blocks>
            <bigshopsettings>
                <class>Gala_Bigshopsettings_Block</class>
            </bigshopsettings>
        </blocks>
        <helpers>
            <bigshopsettings>
                <class>Gala_Bigshopsettings_Helper</class>
            </bigshopsettings>
			<catalog>
				<rewrite>
					<image>Gala_Bigshopsettings_Helper_CatalogImage</image>
				</rewrite>
			</catalog>
        </helpers>
    </global>
	<default>
		<bigshop>
			<general>
				<disable_default_nav>0</disable_default_nav>
				<main_menu>0</main_menu>
				<freezed_top_menu>0</freezed_top_menu>
				<disable_frontend_variation>1</disable_frontend_variation>
				<disable_footer_links>0</disable_footer_links>                
                <box_wide>wide</box_wide>
                <wideslide_full>1</wideslide_full>
                <page_bg_color></page_bg_color>
                <page_bg_file></page_bg_file>
                <page_bg_image></page_bg_image>                
                <page_bg_position></page_bg_position>
                <page_bg_repeat></page_bg_repeat>
			</general>
			<typography>
                <google_fonts>Roboto</google_fonts>
                <google_fonts_weights>100,200,300,400,500,600,700,800,900,1000</google_fonts_weights>
				<general_font>normal 12px/1.35 Roboto,Arial,Helvetica,sans-serif</general_font>
				<h1_font>300 30px/1.15 Roboto,Arial,Helvetica,sans-serif</h1_font>
				<h2_font>300 24px/1.25 Roboto,Arial,Helvetica,sans-serif</h2_font>
				<h3_font>20px/1.25 Roboto,Arial,Helvetica,sans-serif</h3_font>
				<h4_font>500 18px/1.35 Roboto,Arial,Helvetica,sans-serif</h4_font>
				<h5_font>500 16px/1.35 Roboto,Arial,Helvetica,sans-serif</h5_font>
                <h6_font>normal 14px/1.35 Roboto,Arial,Helvetica,sans-serif</h6_font>
				<additional_css_file></additional_css_file>
                <custom_css></custom_css>
            </typography>
			<header>
                <head_text_color></head_text_color>
                <head_text2_color></head_text2_color>
				<head_text3_color></head_text3_color>
				<head_text4_color></head_text4_color>
                <head_bg_color></head_bg_color>
                <head_bg2_color></head_bg2_color>
                <head_bg3_color></head_bg3_color>
                <head_bg_image></head_bg_image>
                <head_bg_file></head_bg_file>
                <head_bg_position></head_bg_position>
                <head_bg_repeat></head_bg_repeat>
                <head_line_color></head_line_color>
             </header>
             <menu>
                <tm_bg_color></tm_bg_color>
                <tm_hover_bg_color></tm_hover_bg_color>
                <tm_text_color></tm_text_color>
                <tm_hover_text_color></tm_hover_text_color>
                <tm_line_color></tm_line_color>
                <tm_font>normal 14px/1.35 Roboto,Arial,Helvetica,sans-serif</tm_font>
                <dm_bg_color></dm_bg_color>
                <dm_text_color></dm_text_color>
                <dm_hover_text_color></dm_hover_text_color>
                <dm_text2_color></dm_text2_color>
                <dm_font>normal 14px/1.35 Roboto,Arial,Helvetica,sans-serif</dm_font>
            </menu>
            <body>
                <bd_bg_color></bd_bg_color>
                <bd_bg2_color></bd_bg2_color>
                <bd_bg3_color></bd_bg3_color>
				<bd_bg4_color></bd_bg4_color>
				<bd_bg5_color></bd_bg5_color>
				<bd_bg6_color></bd_bg6_color>
				<bd_bg7_color></bd_bg7_color>
                <bd_bg_image></bd_bg_image>
                <bd_bg_position></bd_bg_position>
                <bd_bg_repeat></bd_bg_repeat>
                
                <bd_text_color></bd_text_color>
                <bd_text2_color></bd_text2_color>
                <bd_text3_color></bd_text3_color>
                <bd_text4_color></bd_text4_color>
                
                <bd_line_color></bd_line_color>
                <bd_line2_color></bd_line2_color>
                                
                <bd_box_shadow></bd_box_shadow>				
				<bd_box2_shadow></bd_box2_shadow>	
                <bd_rounded_corner></bd_rounded_corner>
                <bd_rounded2_corner></bd_rounded2_corner>
            </body>            
            <footer>
                <foot_bg_color></foot_bg_color>
                <foot_bg2_color></foot_bg2_color>
                <foot_bg_image></foot_bg_image>
                <foot_bg_position></foot_bg_position>
                <foot_bg_repeat></foot_bg_repeat>
                <foot_text_color></foot_text_color>
                <foot_text2_color></foot_text2_color>
                <foot_text3_color></foot_text3_color>
                <foot_line_color></foot_line_color>
                <foot_line2_color></foot_line2_color>
            </footer>
            <button>
                <btn1_bg_color></btn1_bg_color>
                <btn1_text_color></btn1_text_color>
                <btn1_line_color></btn1_line_color>
                <btn1_font>300 16px/1.35 Roboto,Arial,Helvetica,sans-serif</btn1_font>
                <btn2_bg_color></btn2_bg_color>
                <btn2_text_color></btn2_text_color>
                <btn2_line_color></btn2_line_color>
                <btn2_font>300 16px/1.35 Roboto,Arial,Helvetica,sans-serif</btn2_font>
                <btn3_bg_color></btn3_bg_color>
                <btn3_text_color></btn3_text_color>
                <btn3_line_color></btn3_line_color>
                <btn3_font>700 14px/1.35 Roboto,Arial,Helvetica,sans-serif</btn3_font>
                <btn4_bg_color></btn4_bg_color>
                <btn4_text_color></btn4_text_color>
                <btn4_line_color></btn4_line_color>
                <btn4_font>300 16px/1.35 Roboto,Arial,Helvetica,sans-serif</btn4_font>
            </button>
			<products_grid>
				<width></width>
				<height></height>
                <enable_ajaxscroll>1</enable_ajaxscroll>
                <use_click_cat>click</use_click_cat>
				<absolute>masonry</absolute>
			</products_grid>
			<products_list>
				<width></width>
				<height></height>
			</products_list>
			<image_product>
				<base_image_width></base_image_width>
                <base_image_height></base_image_height>
                <thumb_base_width></thumb_base_width>
				<thumb_base_height></thumb_base_height>
				<viewmode></viewmode>
				<cloud_zoom_width></cloud_zoom_width>
				<cloud_zoom_height></cloud_zoom_height>
				<usetabs>1</usetabs>
                <disable_social>1</disable_social>
			</image_product>
			<related>
				<width></width>
				<height></height>
			</related>
			<crosssell>
				<width></width>
				<height></height>
				<gutter></gutter>
			</crosssell>
			<upsell>
				<width></width>
				<height></height>
				<gutter></gutter>
			</upsell>
            <sidebar>
                <width>70</width>
                <height>70</height>
            </sidebar>
            <cart>
                <width>70</width>
				<height>70</height>
			</cart>
			<ajaxcart>
				<auto_close>5</auto_close>
			</ajaxcart>
            <flashtag>
                <enabled>0</enabled>
                <count>100</count>
                <back>#ffffff</back>
                <max>20</max>
                <min>12</min>
                <maxcolor>#000</maxcolor>
                <normal>#000</normal>
                <hover>#000</hover>
                <speed>1000</speed>
            </flashtag>
			<sidebar>
				<list>reorder_sidebar,wishlist_sidebar,catalog_related,catalog_search_layer,catalog_leftnav,catalog_shopby,compare,poll,popular_tags</list>
				<block_data>
                    <reorder_sidebar>
						<type>sales/reorder_sidebar</type>
						<name>em.sale.reorder.sidebar</name>
						<as>reorder</as>
						<template>sales/reorder/sidebar.phtml</template>
						<handles>customer_account,customer_logged_in</handles>
					</reorder_sidebar>
                    <wishlist_sidebar>
						<type>wishlist/customer_sidebar</type>
						<name>wishlist_sidebar</name>
						<as>wishlist</as>
						<template>wishlist/sidebar.phtml</template>
					</wishlist_sidebar>
                    <catalog_related>
						<type>catalog/product_list_related</type>
						<name>catalog.product.related</name>
						<template>catalog/product/list/related.phtml</template>
						<before>-</before>
						<handles>catalog_product_view</handles>
					</catalog_related>
                    <catalog_search_layer>
						<type>layerednavigation/search_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before>-</before>
						<handles>catalogsearch_result_index</handles>
					</catalog_search_layer>
                    <catalog_leftnav>
						<type>catalog/navigation</type>
						<name>catalog.leftnav</name>
						<template>catalog/navigation/left.phtml</template>
						<before>-</before>
						<handles>catalog_category_default</handles>
					</catalog_leftnav>
                    <catalog_shopby>
						<type>layerednavigation/catalog_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before>-</before>
						<handles>catalog_category_layered</handles>
					</catalog_shopby>
                    <compare>
						<type>catalog/product_compare_sidebar</type>
						<name>catalog.compare.sidebar</name>
						<template>catalog/product/compare/sidebar.phtml</template>
						<!--<after>catalog.leftnav</after>-->
					</compare>
                    <poll>
						<type>poll/activePoll</type>
						<name>poll_sidebar</name>
						<action>method:setPollTemplate?template:poll/active.phtml,type:poll|method:setPollTemplate?template:poll/result.phtml,type:results</action>
                        <after>catalog.compare.sidebar</after>
					</poll>
					<popular_tags>
						<type>tag/popular</type>
						<name>tags_popular</name>
						<template>tag/popular.phtml</template>
						<after>poll_sidebar</after>
					</popular_tags>
				</block_data>
			</sidebar>
			<position>
				<popular_tags>all</popular_tags>
				<poll>all</poll>
				<compare>all</compare>
				<catalog_shopby>left</catalog_shopby>
				<catalog_leftnav>left</catalog_leftnav>
				<catalog_search_layer>left</catalog_search_layer>
				<catalog_related>left</catalog_related>
				<wishlist_sidebar>all</wishlist_sidebar>
				<reorder_sidebar>left</reorder_sidebar>
			</position>
		</bigshop>
	</default>
</config>